<?xml version="1.0"?>
<configuration>

  <!-- using log4net adapter and inline log4net configuration -->
  <!-- log4net.config should be in root directory of application -->
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.xml"/>
      </factoryAdapter>
    </logging>
  </common>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
